body {
    font-family: Verdana;

}

#div_social_media {
    height: 50px;
    background-color: #495057;
}

#div_Logo {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}



.borderRight {
    border-right: 1px solid black;
}

.borderRight_logo {
    border-right: 1px solid grey;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.menu-item {
    font-size: 16px;
    color: #00305e;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#navbar_button
{
    height:25px;
    width:25px;
}

@media (min-width: 992px) {
    p {
        font-size: 29px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    p {
        font-size: 14px;
    }
}


