body {
    font-family: Verdana;
}

#header_image {
    width: 100%;
}

#div-20 {
    width: 20%;
}

@media (min-width: 1200px){
    .nomobile {
        display: flex;
    }

    .mobile {
        display: none;
    }
    

    p {
        font-size: 1.89vw;
    }

    #div_row_one {
        height: 50px;
        background-color: #4f5759;
    }

    #social-div-container {
        display: flex;
        justify-content: end;
    }

    .social-menu-container {
        margin: 0 20% 0 20%;
        display: flex;
        justify-content: end;
    }

    #div_social_media {
        width: 60%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    #span_facebook {
        padding-right: 10px;  
    }

    #span_xing {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
    }

    .borderRight_social_media {
        border-right: 1px solid #808080;
        display: flex;
    }

    #div_row_two {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 33px;
        margin-bottom: 33px;
    }

    #span_row_two {
        color: #00305e;
        font-size: 1.89vw;
        display: flex;
        justify-content: end;
    }
    
    #div_Dlc_Logo{
        padding-left:inherit;
        width: 50%;
    }

    #img_row_two {
        
    }

    #div_title_Logo {
        padding-right: inherit;
        width: 50%;
    }

    #div_slogan {
        width: 60%;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .borderRight {
        border-right: 1px solid black;
    }

    #div_row_four {
        background-color: #00305e;
    }

    .menu_row {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-item {
        font-size: 1.1vw;
        color: #00305e;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nomobile {
        display: flex;
    }

    .mobile {
        display: none;
    }
    
    p {
        font-size: 1.89vw;
    }

    #div_row_one {
        height: 50px;
        background-color: #4f5759;
    }

    #social-div-container {
        display: flex;
        justify-content: end;
    }

    .social-menu-container {
        margin: 0 20% 0 20%;
        display: flex;
        justify-content: end;
    }

    #div_social_media {
        width: 60%; 
        margin-top:auto; 
        margin-bottom:auto; 
        display:flex; 
        justify-content:end; 
        align-items:end;
    }

    #span_facebook {
        padding-right:10px;
    }

    #span_xing {
        margin-right:10px; 
        margin-left:10px; 
        padding-right:10px;
    }

    .borderRight_social_media {
        border-right: 1px solid #808080;
        display: flex;
    }

    #div_row_two {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 33px;
        margin-bottom: 33px;

    }

    #span_row_two {
        color: #00305e;
        font-size: 1.89vw;
        display: flex;
        justify-content: end;
    }

    #div_Dlc_Logo {
        padding-left: inherit;
        width: 50%;
    }

    #img_row_two {
       
    }

    #div_title_Logo {
        padding-right: inherit;
        width: 50%;
    }

    #div_slogan {
        width:60%; 
        margin-bottom:24px; 
        margin-top:24px;
    }

    .borderRight {
        border-right: 1px solid black;
    }

    #div_row_four {
        background-color: #00305e;
    }

    .menu_row {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-item {
        font-size: 1.1vw;
        color: #00305e;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .nomobile {
        display: flex;
    }

    .mobile {
        display: none;
    }
    
    p {
        font-size: 1.89vw;
    }

    #div_row_one {
        height: 50px;
        background-color: #4f5759;
    }

    #social-div-container {
        display: flex;
        justify-content: end;
    }

    .social-menu-container {
        margin: 0 20% 0 20%;
        display: flex;
        justify-content: end;
    }

    #div_social_media {
        width: 60%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    #span_facebook {
        padding-right: 10px;
    }

    #span_xing {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
    }

    .borderRight_social_media {
        border-right: 1px solid #808080;
        display: flex;
    }

    #div_row_two {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 33px;
        margin-bottom: 33px;
    }

    #div_Dlc_Logo {
        padding-left: inherit;
        width: 50%;
    }

    #img_row_two {
        width: 199.5px;
        height: 70px;
    }

    #div_title_Logo{
        padding-right:inherit;
        width: 50%;
    }

    #span_row_two {
        font-size: 1.89vw;
        color: #00305e;
        display: flex;
        justify-content: end;
    }

    #div_slogan {
        width: 60%;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .borderRight {
        border-right: 1px solid black;
    }

    #div_row_four {
        background-color: #00305e;
    }

    .menu_row {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-item {
        font-size: 1.1vw;
        color: #00305e;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
}
@media (min-width: 0px) and (max-width: 575px) {
    .nomobile {
        display: none;
    }

    .mobile {
        display: flex;
    }
    
    p {
        font-size: 6vw;
        text-align:center;
    }

    .mt-2 {
        margin-top: 1rem!important;
    }

    #div_row_one {
        height: 50px;
        background-color: #4f5759;
    }

    #div_social_media {
        width: 60%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    #span_facebook {
        padding-right: 10px;
    }

    #span_xing {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
    }

    .borderRight_social_media {
        border-right: 1px solid #808080;
        display: flex;
    }

    #div_row_two {
        margin-left: 0%;
        margin-top: 33px;
        margin-bottom: 33px;
    }

    #div_Dlc_Logo {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 50%;
    }

    #img_row_two {
        width: 199.5px;
        height: 70px;
    }

    #div_title_Logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #span_row_two {
        font-size: 1.89vw;
        color: #00305e;
        display: flex;
        justify-content: start;
    }

    #div_slogan {
        
    }

    .borderRight {
        border-right: 1px solid black;
    }

    #div_row_four {
        background-color: #00305e;
        display: flex;
        justify-content: center;
    }

    .menu_row {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-item {
        font-size: 1.1vw;
        color: #00305e;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }

    #navbar_button {
        height: 16px;
        width: 50%;
        display: flex;
        justify-content: end;
    }

    #div-navbar-button {
        justify-content: flex-end;
    }

    #button_tune {
        color: #00305e;
        border: none;
    }

    .svg_button {
        width: 5rem;
        height: 5rem;
        display: block;
    }
}



